:root {
    --main: rgb(255, 192, 192);
    --minor: #FFFDD0; 
}
#wrapper{
    position: absolute;
    left:26%;
    top: 10%;
    width: 600px;
    height: 500px;
    border: 1px solid var(--main);
    border-radius: 15px;
 }
#startTime {
    background-color: var(--main);
    margin-left: 0%;
    padding: 15px 32px;
    font-size: 20px;
    color: var(--minor);
    border-radius: 15px;
}
#questionsDiv {
    margin: 10px;
    padding: 100px;
    text-align: center;
}       
#currentTime {
    float: right;
}
textarea {
    width: 75%;
    margin: 20px;
}
#goBack {
    background-color: var(--main);
}